<table style="font-size: 6px; text-align: center; height: 130px; width: 63;" border="0">
    <tr>
        <td border="0" style="line-height: 40px;" align="center">- - - - - - - - - - -
        </td>
    </tr>
    <tr>
        <td border="0" style="line-height: 5x;" align="center">
            <b><$Order$></b>
        </td>
    </tr>
    <tr>
        <td border="0" style="line-height: 5px;" align="center">
            <b><$VisualLayout$></b>
        </td>
    </tr>
    <tr>
        <td border="0" style="line-height: 5px;" align="center">
            <b><$Pattern$></b>
        </td>
    </tr>
    <tr>
        <td border="0" style="line-height: 5px;" align="center">
            <b><$weekenddate$></b>
        </td>
    </tr>
    <tr>
        <td border="0" style="line-height: 5px;" align="center">
            <b>(<$qty$>)</b>
        </td>
    </tr>
</table>
