<table cellpadding="17">
    <tr>
        <td>
            <table cellpadding="0" style="font-size: 8px">
                <tr>
                    <td style="line-height: 48px;">
                        &nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table border="0" cellpadding="5">
                            <tr>
                                <td valign="top">
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 5px;" border="0">
                                                A.B.N. 19117 044 845
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 5px;" border="0">
                                                Phone: (03) 9830 6838
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 5px;" border="0">
                                                Phone: (03) 9830 6839
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 5px;" border="0">
                                                INVOICE NUMBER: <$invoiceno$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 5px;" border="0">
                                                INVOICE DATE: <$invoicedate$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 5px;" border="0">
                                                MODE: <$shipmentmode$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 5px;" border="0">
                                                <b>AWB NO.:</b><$awbno$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 5px;" border="0">
                                                Order: <$Order$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 3px;" border="0">
                                                <h6>
                                                    <b>INVOICE TO:</b></h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 3px;" border="0">
                                                INDICO PTY LTD
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 3px;" border="0">
                                                <$shipcompanyaddress$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 3px;" border="0">
                                                <$shipcompanypostalcode$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td>
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 3px;" border="0">
                                                <h6>
                                                    <b>DELIVER TO:</b></h6>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 3px;" border="0">
                                                <$shipcompanyname$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 3px;" border="0">
                                                <$shipcompanyaddress$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 3px;" border="0">
                                                <$shipcompanypostalcode$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 3px;" style="line-height: 5px;" border="0">
                                                <b>CONTACT</b>: <$shipcompanycontact$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 20px;">
                    <td>
                        <$pricedetails$>
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 1px;">
                    <td>
                        <$finalrecord$>
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 20px;">
                    <td>
                        <table width="100%" cellpadding="5">
                            <tr>
                                <td width="50%" valign="top">
                                    <table border="0" cellpadding="3">
                                        <tr>
                                            <td style="color: White;">
                                                GST (10%)
                                            </td>
                                            <td style="color: White;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="color: White;">
                                                GST (10%)
                                            </td>
                                            <td style="color: White;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="color: White;">
                                                GST (10%)
                                            </td>
                                            <td style="color: White;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="color: White;">
                                                &nbsp;
                                            </td>
                                            <td style="color: White;">
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="50%">
                                    <table border="0.5" width="100%" cellpadding="3">
                                        <tr>
                                            <td style="line-height: 8px;" width="70%">
                                                Sub Total
                                            </td>
                                            <td style="line-height: 8px;" width="30%">
                                                <$subtotal$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 8px;" width="70%">
                                                Freight & Duty (if applicable)
                                            </td>
                                            <td style="line-height: 8px;" width="30%">
                                                0.00
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 8px;" width="70%">
                                                GST (10%)
                                            </td>
                                            <td style="line-height: 8px;" width="30%">
                                                <$gst$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 8px;" width="70%">
                                                Total with GST
                                            </td>
                                            <td style="line-height: 8px;" width="30%">
                                                <$totgst$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
