<table cellpadding="17">
    <tr>
        <td>
            <table cellpadding="0" style="font-size: 8px">
                <tr>
                    <td style="line-height: 48px;">&nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table border="0.5" cellpadding="5">
                            <tr>
                                <td>
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 5px" border="0">
                                                <h4>EXPORTER/MANUFACTURER:</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">J.K. GARMENTS PVT.LTD.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">64/ Madagalla Road
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">lbbagamuwa, Kurunegala Sri Lanka
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 5px" border="0">
                                                <b>INVOICE NUMBER:</b> <$invoiceno$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <b>SHIPMENT DATE:</b> <$shipmentdate$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 5px" border="0">
                                                <h4>BILL TO:</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0"><$billtocompanyname$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0"><$billtocompanyaddress$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0"><$billtocompanystate$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0"><$billtocompanycountry$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td border="0">
                                                <table border="0" cellpadding="0">
                                                    <tr>
                                                        <td style="line-height: 2px" border="0">
                                                            <b>MODE:</b> <$shipmentmode$>
                                                        </td>
                                                        <td style="line-height: 2px" border="0">
                                                            <b>AWB NO.:</b> <$awbno$>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <b>PORT:</b> <$port$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 5px" border="0">
                                                <h4>SHIP TO:</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0"><$shipcompanyname$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0"><$shipcompanyaddress$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0"><$shipcompanypostalcode$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <b>CONTACT</b>: <$shipcompanycontact$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 20px;">
                    <td><$pricedetails$>
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 0px;">
                    <td><$finalrecord$>
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 20px;">
                    <td>
                        <table width="100%" cellpadding="5">
                            <tr>
                                <td width="50%">
                                    <table border="0.5" width="100%" cellpadding="0">
                                        <tr>
                                            <td>
                                                <table border="0.5" width="100%" cellpadding="3">
                                                    <tr>
                                                        <td style="text-align: center; line-height: 8px;" colspan="2" width="30%">REMIT TO
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height: 8px;" border="0" width="30%">Bank Name
                                                        </td>
                                                        <td style="line-height: 8px;" border="0" width="70%"><$bankname$>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height: 8px;" border="0" width="30%">Address
                                                        </td>
                                                        <td style="line-height: 8px;" border="0" width="70%"><$bankaddress$>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height: 8px;" border="0" width="30%">Account Number
                                                        </td>
                                                        <td style="line-height: 8px;" border="0" width="70%"><$accountnumber$>
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height: 8px;" border="0" width="30%">Account Holder
                                                        </td>
                                                        <td style="line-height: 8px;" border="0" width="70%">J.K. Garments Pvt. Ltd.
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td style="line-height: 8px;" border="0" width="30%">SWIFT Code
                                                        </td>
                                                        <td style="line-height: 8px;" border="0" width="70%"><$swiftcode$>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td width="50%" valign="top">
                                    <table border="0.5" cellpadding="3">
                                        <tr>
                                            <td style="line-height: 8px;">Total Cartons
                                            </td>
                                            <td style="line-height: 8px;">&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 8px;">Total Net Weight (Kg)
                                            </td>
                                            <td style="line-height: 8px;">&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 8px;">Total Gross Weight (Kg)
                                            </td>
                                            <td style="line-height: 8px;">&nbsp;
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 8px;">Total Dimensions (CBM)
                                            </td>
                                            <td style="line-height: 8px;">&nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
