<table cellpadding="17">
    <tr>
        <td>
            <table cellpadding="0" style="font-size: 8px">
                <tr>
                    <td style="line-height: 48px;">
                        &nbsp;
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 9px;">
                    <td>
                        <table border="0.5" cellpadding="5">
                            <tr>
                                <td>
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <h4>
                                                    EXPORTER/MANUFACTURER:</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                J.K. GARMENTS PVT.LTD.
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                64/ Madagalla Road
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                lbbagamuwa, Kurunegala Sri Lanka
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <b>INVOICE NUMBER:</b><$invoicenumber$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <b>SHIPMENT DATE:</b><$shipmentdate$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <h4>
                                                    BILL TO:</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                               <$billtocompanyname$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                               <$billtocompanyaddress$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                               <$billtocompanystate$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                               <$billtocompanycountry$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td border="0">
                                                <table border="0" cellpadding="0">
                                                    <tr>
                                                        <td style="line-height: 2px" border="0">
                                                            <b>MODE:</b> <$mode$>
                                                        </td>
                                                        <td style="line-height: 2px" border="0">
                                                            <b>AWB NO.:</b> <$awbno$>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <b>PORT:</b> <$port$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td valign="top">
                                    <table border="0">
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <h4>
                                                    SHIP TO</h4>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <$companyname$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <$companyaddress$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <$companypostalcodecountry$>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td style="line-height: 2px" border="0">
                                                <b>Contact:</b> <$companycontact$>
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr valign="middle" style="line-height: 20px;">
                    <td>
                        <$invoicesummary$>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
